<h2> Word: <%= @word.word %></h2>
<hr>
<form action="/words/<%= @word.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="word">Fix/Change word:</label>
  <input id="word" name="word" type="text">
  <br>
  <button type="submit" class="btn-primary mt-2 mb-2">Change</button>
</form>
<form action="/words/<%= @word.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn-warning mb-2">Delete word</button>
</form>
<hr>
<h3>Definitions</h3>
  <% if @word.definitions != [] %>
    <ul>
      <% @word.definitions.each do |definition| %>
        <li><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.definition %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no definitions yet. Please add one using the form below!</p>
  <% end %>

<form action="/words/<%= @word.id %>/definitions/" method="post">
  <div class="form-group">
    <label for="definition" class="mb-1">Definition:</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-primary mt-4">Add definition</button>
</form>


<hr>
<a href="/words">Back to the homepage</a>